.top__nav {
    position: fixed;
    top: 0;
    left: 260px;
    z-index: 999;
    background: var(--primary-color);
    width: calc(100% - 260px);
    height: 70px;
    line-height: 70px;
}

.top__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.top__nav-right {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    justify-content: flex-end;
}

.search__box {
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--body-bg) !important;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 25%;
}

.search__box input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--small-text-color);
    padding-left: 5px;
    margin-top: 10px;
    caret-color: #ef621c;
}

.search__box input::placeholder {
    color: var(--small-text-color);
}

.search__box img {
    width: 20px;
    height: 20px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    object-fit: cover;
}

.notification {
    position: relative;
    padding-top: 10px;
}

.counter{
    font-weight: 700;
    color: #b37efc;
}